* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    --bg-search-bar: #e2e8f0;
    --bg-sidebar-buttons: #1992d4;
    --card-left-side: #f0b429;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 20% 80%;
    height: 100vh;
    background-color: var(--bg-search-bar);
}

.header {
    background-color: #ffffff;
    display: grid;
    padding: 2% 5% 1% 3%;
    grid-template-rows: auto auto;
    grid-area: 1 / 2 / 2 / 3;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-items: start;
    background-color: pink;
    grid-area: 1 / 1 / 3 / 2;
    padding-left: 7%;
    padding-top: 10%;
    gap: 50px;
    background-color: var(--bg-sidebar-buttons);
}

.main-content {
    background-color: var(--bg-search-bar);
    display: grid;
    grid-template-columns: 75% auto;
    grid-template-rows: repeat(2, 1fr);
    padding: 2% 3% 10% 2%;
    gap: 25px;
}

.magnify-image,
.bell-image {
    height: 25px;
    width: auto;
}

.avatar {
    border-radius: 50%;
}

.user {
    height: 50px;
    width: auto;
}

.user-name {
    font-weight: bold;
}

.user-increased {
    height: 70px;
    width: auto;
}

.header-one {
    display: grid;
    grid-template-columns: 60% 40%;
}

.search-bar {
    grid-template-columns: auto 1fr;
    align-items: center;
    display: grid;
    gap: 15px;
}

.search-bar input {
    width: 110%;
    height: 35px;
    border: none;
    border-radius: 15px;
    background-color: var(--bg-search-bar);
}

.header-title {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 20px;
    justify-content: end;
}

.header-two {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: space-between;
}

.account-info {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
}

.button-container button {
    height: 40px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--bg-sidebar-buttons);
    font-size: 1rem;
}

.dashboard-image {
    height: 50px;
}

.dashboard-container {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
}

.dashboard-container h1 {
    color: #ffffff;
}

.dashboard-content,
.dashboard-settings {
    display: grid;
    gap: 20px;
}

.dashboard-content {
    grid-template-rows: repeat(6, 1fr);
}

.dashboard-settings {
    grid-template-rows: repeat(3, 1fr);
}

.dashboard-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
    gap: 20px;
}

.dashboard-item p {
    font-weight: 600;
    font-size: 1.2rem;
    color: #ffffff;
}

.dashboard-item img{
    color: #ffffff;
    height: 30px;
}

.sidebar img {
    color: #ffffff;
}

.main-para {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 10px;
}

.project-container {
    grid-area: 1 / 1 / 3 / 2;
}

.announcement-container {
    grid-area: 1 / 2 / 2 / 3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main-card {
    background-color: #ffffff;
    height: clamp(150px, 20vh, 200px);
    border-radius: 10px;
    border-left: 10px solid var(--card-left-side);
    box-shadow: 
    0 3px 5px rgba(0,0,0,0.2),
    3px 0 5px rgba(0,0,0,0.2);
}

.announcements,
.trendings {
    display: grid;
    width: 100%;
    height: 88%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 
    0 3px 5px rgba(0,0,0,0.2),
    3px 0 5px rgba(0,0,0,0.2);
}

