* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 1fr 3fr / 20% 80%;
    height: 100vh;
}

.header {
    background-color: aqua;
    grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
    background-color: pink;
    grid-area: 1 / 1 / 3 / 2;
}

.main-content {
    background-color: blueviolet;
}